@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400&family=Poly&display=swap');
* { margin:0; padding:0; box-sizing:border-box; }
@keyframes shadow-pulse
{
     0% {
          box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
     }
     100% {
          box-shadow: 0 0 0 35px rgba(0, 0, 0, 0);
     }
}

header {
	background-color: #EEEDEB; 
	display: inline block;
	width: 1200px;
}


body{
	background-color: #EEEDEB; 
}

nav {
	font-family: 'Noto Sans', sans-serif;
	float: left;
	font-size: 1.5em;

}

nav a { 
	background-color: #EEEDEB;
	color: #899E7A;
	text-decoration: none;
	display: inline-block;
	margin: 1.5em;
	padding: 40px 20px 0px 20px;

 }

 nav a:hover { 
 background-color:  #EEEDEB;
 color: gray;
  }

a { 
	background-color: #EEEDEB;
	color: black;
	
	text-decoration: none;
	display: block;
	
 }


footer{
	background-color: #EEEDEB;
	display: block;
	width: 1200px;
	height: 200px;
}

footer a{
	background-color: #EEEDEB;
	color: #899E7A;
	text-decoration: none;
	display: inline-block;
	margin: 1.5em;
	padding: 20px;
	float: right;

}


body {
	font-family: 'Noto Sans', sans-serif;
	color: #999999;
	font-style: normal;
	font-size: 14px; 
}

h1{
	font-size: 28pt;
	font-family: 'Poly', serif;
	color: black;
	padding: 10px;
	float: left;
	margin: 20px;

}

h2 {
	font-size: 62px;
	font-family: 'Poly', serif;
	color: black;
	float: right;
	padding: 50px 40px 0px 20px;

}

h3 {
	font-size: 24px;
	font-family: 'Noto Sans', sans-serif;
	font-weight: 400;
	color: grey;
	float: right;
	padding: 30px 40px 0px 20px;

}

input[type=text] {
  width: 50%;
  padding: 16px 20px;
  margin: 10px 20px;
  box-sizing: border-box;
  font-size: 18px;
}

input[type=button], input[type=submit], input[type=reset] {
  background-color: #899E7A;
  border: none;
  color: white;
  padding: 16px 20px;
  text-decoration: none;
  margin: 10px 10px;
  cursor: pointer;
  font-size: 16px;
}


#main-image {
	float: left;
	display: inline block;
	background-color: #EEEDEB;
	padding: 30px 10px 0px 70px;
	clear: both;	
}


#hero-module {
	background-color: #EEEDEB;
	width: 1200px;
	height: 500px;
	display: inline block;
	
}

#content-module {
	background-color: white;
	width: 1800px;
	margin: 30px 0px 30px 0px;
}

#hero-right {
	float: right;
	background-color: #EEEDEB;
	padding: 20px;
	width: 700px;
	
}


#subscribe {
	background-color: #EEEDEB;
	display: block;
	width: 1200px;
	height: 150px;
	font-size: 24px;
	font-family: 'Noto Sans', sans-serif;
	font-weight: 400;
	color: grey;
}	

.button {
	padding: 50px;
	background-color: #899E7A;
	display: block;
	font-size: 32px;
	color: white;
	margin: 25px;
	width: 250px;
	height: 150px;
	float: left;
	text-align: center;
}


.button:hover {
	color: black;
}

.cta {
	padding: 10px 30px 10px 30px;
	background-color: #899E7A;
	display: block;
	font-size: 32px;
	color: white;
	float: right;
	margin: 40px;
	animation: shadow-pulse 1s 3;
}

.cta:hover {
	color: black;
}

.sub{
	font-size: 18px;
	padding:40px 20px 20px 20px;
	margin: 20px 0px 0px 10px;
}

.footernav {
	font-family: 'Noto Sans', sans-serif;
	float: right;
	font-size: 14px;
	padding: 20px;

}

	
.clearfix:after {
	visibility: hidden;
	display: block;
	content: "";
	clear: both;
	height: 0;
	font-size: 0;
}
